{% extends "base.html"%}
{% block title %}Belongs to - Insert{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to insert in Projects - Scientific Field table</h3>
    <div class="form-group">
      <label for="scientific_field"> Scientific Field </label>
      <input
        type="text"
        class="form-control"
        id="scientific_field"
        name="scientific_field"
        placeholder="Enter scientific field"
      />
    </div>

    <div class="form-group">
      <label for="project_ID"> Project ID </label>
      <input
        type="text"
        class="form-control"
        id="project_ID"
        name="project_ID"
        placeholder="Enter project ID"
      />
    </div>
    <br />
    <button type="update" class="btn btn-primary">Insert</button>
  </form>

{% endblock %}  