{% extends "base.html"%}
{% block title %}Belongs to - Delete{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to delete from Projects - Scientific Field table</h3>
    <div class="form-group">
      <label for="scientific_field">Scientific Field Name</label>
      <input
        type="text"
        class="form-control"
        id="scientific_field"
        name="scientific_field"
        placeholder="Enter scientific field name"
      />
    </div>

    <div class="form-group">
        <label for="project_ID">Project ID</label>
        <input
          type="text"
          class="form-control"
          id="project_ID"
          name="project_ID"
          placeholder="Enter project ID"
        />
      </div>

    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>

{% endblock %} 