{% extends "base.html"%}
{% block title %}Evaluate - Insert{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to update in Projects - Evaluator table</h3>
    <div class="form-group">
      <label for="researcher_ID"> Researcher ID </label>
      <input
        type="text"
        class="form-control"
        id="researcher_ID"
        name="researcher_ID"
        placeholder="Enter Researcher ID"
      />
    </div>

    <div class="form-group">
      <label for="project_ID"> Project ID </label>
      <input
        type="text"
        class="form-control"
        id="project_ID"
        name="project_ID"
        placeholder="Enter project ID"
      />
    </div>

  <div class="form-group">
      <label for="grade"> Grade </label>
      <input
        type="text"
        class="form-control"
        id="grade"
        name="grade"
        placeholder="Enter grade"
      />
    </div>
  <div class="form-group">
      <label for="evaluation_date"> Evaluation Date </label>
      <input
        type="date"
        class="form-control"
        id="evaluation_date"
        name="evaluation_date"
        placeholder="Enter evaluation date"
      />
    </div>
  
    <br />
    <button type="update" class="btn btn-primary">Insert</button>
  </form>

{% endblock %}  