{% extends "base.html"%}
{% block title %}Final Product - Delete{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to delete from Final Product table</h3>
    <div class="form-group">
      <label for="product_ID">Final Product ID</label>
      <input
        type="text"
        class="form-control"
        id="product_ID"
        name="product_ID"
        placeholder="Enter final product ID"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>

{% endblock %} 