{% extends "base.html"%}
{% block title %}HFRI Executives - Read{% endblock %}
{% block content %}
<div class="customers-card">
    <h3>HFRI Executives</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Executive ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>HFRI Department ID</td>
        </tr>
        </thead>
        <tbody>
        {% for i in range(length) %}
        <tr class="customer-row">
            <td>{{ list1[i] }}</td>
            <td>{{ list2[i] }}</td>
            <td>{{ list3[i] }}</td>
            <td>{{ list4[i] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}