{% extends "base.html"%}
{% block title %}Insert{% endblock %}
{% block content %} <h3>Welcome to the Insert section of our database</h3>
                    <p>Here you can insert data to our database</p>
<div class="container" id="row-container">
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organizations</h4>
                    <p class="card-text" id="paragraph">Insert data to organizations table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/organizations_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Researchers</h4>
                    <p class="card-text" id="paragraph">Insert data to researchers table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/researchers_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">HFRI department</h4>
                    <p class="card-text" id="paragraph">Insert data to HFRI department table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/HFRI_department_insert">Continue</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Financial Programme</h4>
                    <p class="card-text" id="paragraph">Insert data to financial programmes table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/financial_programme_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">HFRI executives</h4>
                    <p class="card-text" id="paragraph">Insert data to HFRI executives table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/HFRI_executives_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Projects</h4>
                    <p class="card-text" id="paragraph">Insert data to projects table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/projects_insert">Continue</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organization Address</h4>
                    <p class="card-text" id="paragraph">Insert data to organization address table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/organization_address_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organization Telephone</h4>
                    <p class="card-text" id="paragraph">Insert data to organization telephone table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/organization_telephone_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Company</h4>
                    <p class="card-text" id="paragraph">Insert data to company table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/company_insert">Continue</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">University</h4>
                    <p class="card-text" id="paragraph">Insert data to university table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/university_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Research Center</h4>
                    <p class="card-text" id="paragraph">Insert data to research center table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/research_center_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Final Product</h4>
                    <p class="card-text" id="paragraph">Insert data to final product table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/final_product_insert">Continue</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Scientific Field</h4>
                    <p class="card-text" id="paragraph">Insert data to scientific field table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/scientific_field_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Project - Scientific Field</h4>
                    <p class="card-text" id="paragraph">Insert data to "belongs to" table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/belongs_to_insert">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Project - Researchers</h4>
                    <p class="card-text" id="paragraph">Insert data to "works" table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/works_insert">Continue</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Project - Evaluator</h4>
                    <p class="card-text" id="paragraph">Insert data to "evaluates" table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/insert/evaluate_insert">Continue</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}