{% extends "base.html"%}
{% block title %}Interesting Field{% endblock %}
{% block content %} <h3>Welcome to the Interesting Field section of our database</h3>
                    <p>Here you can see information about researchers working and projects running on a particular scientific field</p>
<div class="container" id="row-container">
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Aerodynamics & Hydrodynamics</h4>
                    <p class="card-text" id="paragraph">Information about Aerodynamics & Hydrodynamics field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Aero_Hydro">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Agricultural Science</h4>
                    <p class="card-text" id="paragraph">Information about Agricultural Science field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Agricultural">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Biology & Health</h4>
                    <p class="card-text" id="paragraph">Information about Biology & Health field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Bio_Health">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Computer Engineering</h4>
                    <p class="card-text" id="paragraph">Information about Computer Engineering field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Comp_Engineering">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Managment</h4>
                    <p class="card-text" id="paragraph">Information about Managment field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Managment">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Math & Computer Science</h4>
                    <p class="card-text" id="paragraph">Information about Math & Computer Science field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Math_Comp">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Physics</h4>
                    <p class="card-text" id="paragraph">Information about Physics field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Physics">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Power & Environment</h4>
                    <p class="card-text" id="paragraph">Information about Power & Environment field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Power_Env">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Social Science</h4>
                    <p class="card-text" id="paragraph">Information about Social Science field</p>
                    <a class="btn btn-primary" id="show-btn" href="/queries/query3/Social">Show</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
