{% extends "base.html"%}
{% block title %}Organization Telephone - Insert{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to insert in Organization Telephone table</h3>
    <div class="form-group">
      <label for="org_ID">Organization ID</label>
      <input
        type="text"
        class="form-control"
        id="org_ID"
        name="org_ID"
        placeholder="Enter organizationID"
      />
    </div>
    <div class="form-group">
      <label for="telephone">Organization Telephone</label>
      <input
        type="tel"
        class="form-control"
        id="telephone"
        name="telephone"
        placeholder="Enter telephone"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Insert</button>
  </form>

{% endblock %}  