{% extends "base.html"%}
{% block title %}Organizations - Insert{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to insert in Organizations table</h3>
    <div class="form-group">
      <label for="org_ID">Organization ID</label>
      <input
        type="text"
        class="form-control"
        id="org_ID"
        name="org_ID"
        placeholder="Enter organization ID"
      />
    </div>
    <div class="form-group">
      <label for="org_name">Organization Name</label>
      <input
        type="text"
        class="form-control"
        id="org_name"
        name="org_name"
        placeholder="Enter organization name"
      />
    </div>
    <div class="form-group">
      <label for="org_acronym">Organization Acronym</label>
      <input
        type="text"
        class="form-control"
        id="org_acronym"
        name="org_acronym"
        placeholder="Enter organization acronym"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Insert</button>
  </form>
{% endblock %}  