{% extends "base.html"%}
{% block title %}Insert{% endblock %}
{% block content %} <h3>Welcome to the Insert section of our database</h3>
                    <p>Here you can insert data to our database</p>
<div class="container" id="row-container">
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organizations</h4>
                    <p class="card-text" id="paragraph">Read data from organizations table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/organizations_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Researchers</h4>
                    <p class="card-text" id="paragraph">Read data from researchers table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/researchers_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">HFRI department</h4>
                    <p class="card-text" id="paragraph">Read data from HFRI department table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/HFRI_department_read">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Financial Programme</h4>
                    <p class="card-text" id="paragraph">Read data from financial programmes table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/financial_programme_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">HFRI executives</h4>
                    <p class="card-text" id="paragraph">Read data from HFRI executives table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/HFRI_executives_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Projects</h4>
                    <p class="card-text" id="paragraph">Read data from projects table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/projects_read">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organization Address</h4>
                    <p class="card-text" id="paragraph">Read data from organization address table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/organization_address_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Organization Telephone</h4>
                    <p class="card-text" id="paragraph">Read data from organization telephone table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/organization_telephone_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Company</h4>
                    <p class="card-text" id="paragraph">Read data from company table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/company_read">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">University</h4>
                    <p class="card-text" id="paragraph">Read data from university table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/university_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Research Center</h4>
                    <p class="card-text" id="paragraph">Read data from research center table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/research_center_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Final Product</h4>
                    <p class="card-text" id="paragraph">Read data from final product table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/final_product_read">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Scientific Field</h4>
                    <p class="card-text" id="paragraph">Read data from scientific field table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/scientific_field_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Project - Scientific Field</h4>
                    <p class="card-text" id="paragraph">Read data from "belongs to" table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/belongs_to_read">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Project - Researchers</h4>
                    <p class="card-text" id="paragraph">Read data from "works" table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/works_read">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Project - Evaluator</h4>
                    <p class="card-text" id="paragraph">Read data from "evaluates" table</p>
                    <a class="btn btn-primary" id="show-btn" href="/CRUD/read/evaluates_read">Show</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}