{% extends "base.html"%}
{% block title %}Scientific Field - Delete{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center">Give information you want to delete from Scientific Field table</h3>
    <div class="form-group">
      <label for="scientific_field_name">Scientific field Name</label>
      <input
        type="text"
        class="form-control"
        id="scientific_field_name"
        name="scientific_field_name"
        placeholder="Enter scientific field name"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>

{% endblock %} 