{% extends "base.html"%}
{% block title %}Works - Read{% endblock %}
{% block content %}
<div class="customers-card">
    <h3>Projects - Researchers</h3>
    <table class="table table-sm table-borderless">
        <thead>
        <tr>
            <td>Researcher ID</td>
            <td>Project ID</td>
        </tr>
        </thead>
        <tbody>
        {% for i in range(length) %}
        <tr class="customer-row">
            <td>{{ list1[i] }}</td>
            <td>{{ list2[i] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}